@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*****************  HEADER  ***********************/
div.dummy {
    min-height: 100vh;
    color: black;
  }
  #header-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }
  #header-container video,
  #header-fallback {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #header-video-container:after {
    content: "";
    background-image: url(../media/img/video-overlay-dot-large.png);
    background-size: 3px 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #play-pause {
    color: white;
    position: absolute;
    right: 50px;
    top: 50%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    transition: 0.6s all;
  }
  #play-pause:hover {
    opacity: 1;
  }
  a#play-pause {
    line-height: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 3em;
    text-align: center;
  }
  #header-text {
    position: relative;
    top: 50%;
    left: 0;
    margin-right: 100px;
    margin-left: 10%;
    z-index: 200;
  }
  #header-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  /***************connexion*************************/
  
  *{
      margin: 0;
      padding: 0;
      font-family: 'poppins',sans-serif;
  }
  .logo{
      height: 100px;
      margin-bottom: 20px;
  }
  section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100%;
      background: blur(15px);
      background-position: center;
      background-size: cover;
  }
  .form-box{
      position: relative;
      width: 400px;
      height: 450px;
      background: #a6a6a661 ;
      border: 2px solid rgba(255,255,255,0.5);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
  h2{
      font-size: 2em;
      color: #fff;
      text-align: center;
  }
  .inputbox{
      position: relative;
      margin: 30px 0;
      width: 310px;
      border-bottom: 2px solid #fff;
  }
  .inputbox label{
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      color: #fff;
      font-size: 1em;
      pointer-events: none;
      transition: .5s;
  }
  input:focus ~ label,
  input:valid ~ label{
  top: -5px;
  }
  .inputbox input {
      width: 100%;
      height: 50px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1em;
      padding:0 35px 0 5px;
      color: #fff;
  }
  .inputbox ion-icon{
      position: absolute;
      right: 8px;
      color: #fff;
      font-size: 1.2em;
      top: 20px;
  }
  .forget{
      margin: -15px 0 15px ;
      font-size: .9em;
      color: #fff;
      display: flex;
      justify-content: space-between;  
  }
  
  .forget label input{
      margin-right: 3px;
      
  }
  .forget label a{
      color: #fff;
      text-decoration: none;
  }
  .forget label a:hover{
      text-decoration: underline;
  }
  button{
      width: 100%;
      height: 40px;
      border-radius: 40px;
      background: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1em;
      font-weight: 600;
  }
  .register{
      font-size: .9em;
      color: #fff;
      text-align: center;
      margin: 25px 0 10px;
  }
  .register p a{
      text-decoration: none;
      color: #fff;
      font-weight: 600;
  }
  .register p a:hover{
      text-decoration: underline;
  }
/*************************   inscription   ************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.logo{
    height: 100px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(./inscription.jpeg);
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 450px;
    height: 600px;
    background: #a6a6a661;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
.msg-inscription{
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    #header-logo {
        max-width: 100px;
      }
      #header-text {
        top: 40%;
      }
    
    /***************top offices*****************/
    body {
        width: 100vw;
        font-family: 'roboto', Arial, Helvetica, sans-serif;
        background-color: #0e0e0e;
        overflow-x: hidden;
    }

    
    .movie-slider{
        position: relative;
    }
    
    .movie-slider::before{
        content: '';
        /* height: 438px; */
        width: 100px;
        display: block;
        background: linear-gradient(to right, black, transparent);
        position: absolute;
        left: 0;
        z-index: 1;
    }
    
    .movie-slider::after{
        content: '';
        /* height: 438px; */
        width: 100px;
        display: block;
        background: linear-gradient(to left, black, transparent);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    
    .movie-list{
        margin: 30px 0;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    
    .movie-list::-webkit-scrollbar {
        width: 15px;
        height: 10px;
    }
       
    .movie-list::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
       
    .movie-list::-webkit-scrollbar-thumb {
        background-color: rgb(61, 61, 61);
        outline: 1px solid slategrey;
        border-radius: 50px;
    }
    
    .movie-card{
        border-radius: 10px;
        width: 200px;
        box-shadow: 0px 5px 10px rgb(17, 17, 17);
        cursor: pointer;
        margin: 20px 25px;
        position: relative;
        transition: all 1s;
    }
    
    .movie-card:hover{
        box-shadow: 0px 10px 20px #000000;
        transform:  scale(1.08);
        
    }
    
    .movie-poster{
        border-radius: 10px 10px 0px 0px;
        width: 400px;
    }
    
    .movie-info{
        padding: 15px 10px;
    }
    
    .movie-title{
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;
        margin-bottom: 38px;
    }
    
    .btn-watch{
        font-weight: 700;
        background-color: #005dff;
        padding: 8px 44px;
        border-radius: 50px;
        border: 3px solid transparent;
        color: white;
        bottom: 0;
        margin-bottom: 10px;
    }
    .scroll-tray{
        white-space: nowrap;
      }
    .scroll-tray div {
        display: inline-block;
    
      }
    .scroll-tray img {
        border-radius: 0.3rem;
        margin: 7px 5px;
        padding: 0;
        width: 240px;
        height: 300px;
      }
    .scroll-holder {
        overflow-x: hidden;
      }
    .scroll-holder .scroll-tray:first-child {
    animation: scroll-tray-hero 180s linear infinite;
     }
     .scroll-holder .scroll-tray:last-child {
        animation: scroll-tray-hero 120s linear infinite;
         }
    
    
         @keyframes scroll-tray-hero {
            0% {
                transform: translateX(0);
            }
            99.99%{
                 transform: translateX(-7098px);
            }
            100% {
                transform: translateX(0);
            }
         }
         /****************Page catalogue***********************/
         .grid-list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 40px; 
         }
         .card{
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            width: 400px;
         }
         .grid-list .img-respect{
            display: block;
            width: 100%;
            border-radius: 10px;
            transition: transform 0.5s;
         }
         .infos{
           width: 100%;
           height: 0;
           background: #c397ef7d;
           border-radius: 10px;
           position: absolute;
           left: 0;
           bottom: 0;
           overflow: hidden;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           padding: 0 40px;
           text-align: center;
           font-size: 14px;
           transition: height 0.5s;
         }
         .card:hover .infos{
            height: 100%;
         }
} 
    
